<!doctype html>
<html lang="utf-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDoList</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <input type="text" name="item" maxlength="10" minlength="1" v-model="item">
    <button @click="add_Todo">添加</button>
    <hr>
    <ul>
        <li v-for="todo in todos">{{ todo }}</li>
    </ul>
</div>
</body>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            message: 'hello',
            item: '',
            todos: []
        },
        methods: {
            add_Todo: function () {
                this.todos.push(this.item)
                this.item = ''
                alert(this.item + '添加成功')
            }
        }
    })

</script>
</html>